html {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}

nav{
    position: relative;
    text-align: center;
    font-size: 1.2em;
    color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}


h1 {
    text-align: center;
    position: relative;
    top: 6em;
    color: white;

}

h2 {
    text-align: center;
    position: relative;
    top: 10em;
    color: white;

}

.twitter {
    position: relative;
    width: 3em;
    top: 20em;
    right: 1em;
}

.facebook {
    position: relative;
    width: 2.9em;
    top: 20em;
    right: 0em;
}

.instagram {
    position: relative;
    width: 3em;
    top: 20em;
    right: -1em;

}

p {
    text-align: end;
    font-size: 1.3em;
}

